{% extends 'app/index.html' %}

{% load static %}

{% block registro_exitoso %}


    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    
                   
                    <h2 class="text-black fs-3 fw-bolder">El usuario ha sido registrado con éxito!</h2>
                    <a class="btn btn-secondary" href="{% url 'Inicio' %}" role="button">Ir al inicio</a>
                
                </div>
            </div>

        </div>
    </section>


{% endblock registro_exitoso %}

