{% extends 'vbc/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}

    {% for electrica in Electricas %}
            <p>Marca: {{electrica.marca}}, {{electrica.modelo}}
            <a href="{% url "DetalleElectrica" electrica.pk %}">Ver</a>
            |
            <a href="{% url "EditarElectrica" electrica.pk %}">Editar</a>
            |
            <a href="{% url "BorrarElectrica" electrica.pk %}">Borrar</a>          
    {% endfor %}
{% endblock main %}